.row {
  margin-left: 0px;
  margin-right: 0px;
}

.nav_text {
  color: rgb(56 44 32);
}

.nav_index {
  z-index: 2;
}

.slide_index {
  z-index: 1;
}

.first_section {
  background-color: rgb(253 229 185);
  height: 100vh;
}

.first_button {
  background-color: rgb(222 88 100);
}

.first_text {
  color: rgb(222 88 100);
}

.second_section {
  background-color: rgb(232 237 227);
  height: 100vh;
}

.second_button {
  background-color: rgb(160 60 93);
}

.second_text {
  color: rgb(160 60 93);
}

.third_section {
  background-color: rgb(253, 228, 230);
  height: 100vh;
}

.third_button {
  background-color: rgb(224, 68, 78);
}

.third_text {
  color: rgb(224, 68, 78);
}

.fourth_section {
  background-color: rgb(252, 235, 183);
  height: 100vh;
}

.fourth_button {
  background-color: rgb(85, 131, 116);
}

.fourth_text {
  color: rgb(85, 131, 116);
}

.second_row {
  background-color: rgb(228, 225, 215);
  height: 80vh;
}

.second_row_text {
  color: rgb(17, 0, 66);
}

.text_justify_inter {
  text-align: justify;
  text-justify: inter-word;
}

.third_row {
  background-color: #fafafa;
}

.blog_1 {
  background-color: rgb(215, 209, 210);
}

.blog_2 {
  background-color: rgb(255, 239, 207);
}

.blog_3 {
  background-color: rgb(235, 232, 221);
}

.blog_4 {
  background-color: rgb(226, 226, 222);
}

.blog_5 {
  background-color: rgb(165, 216, 229);
}

.blog_6 {
  background-color: rgb(255, 207, 210);
}

.padding_card {
  padding-top: 6%;
  padding-bottom: 6%;
}

.blog_1_text {
  color: rgb(129, 101, 96);
}

.blog_1_button {
  background-color: rgb(129, 101, 96);
}

.blog_2_text {
  color: rgb(206, 164, 110);
}

.blog_2_button {
  background-color: rgb(206, 164, 110);
}

.blog_3_text {
  color: rgb(149, 111, 82);
}

.blog_3_button {
  background-color: rgb(149, 111, 82);
}

.blog_4_text {
  color: rgb(169, 83, 62);
}

.blog_4_button {
  background-color: rgb(169, 83, 62);
}

.blog_5_text {
  color: rgb(17, 0, 66);
}

.blog_5_button {
  background-color: rgb(17, 0, 66);
}

.blog_6_text {
  color: rgb(192, 98, 104);
}

.blog_6_button {
  background-color: rgb(192, 98, 104);
}

.nav_white {
  background: none;
}

.logo {
  height: 4vw;
}

.margin_logo {
  padding-top: 2.5vh;
  padding-bottom: 1vh;
}

.no_margin {
  margin: 0px;
}

.nav_white h6,
.no_margin_bottom h6 {
  margin-bottom: 0px;
}

.no_margin_bottom h5 {
  color: rgb(220, 148, 88);
}

.fourth_row {
  background-color: rgb(165, 216, 229);
}

.fourth_row_text {
  color: rgb(17, 0, 66);
}

.fourth_row_button {
  background-color: rgb(17, 0, 66);
}

.form_padding {
  padding-right: 7rem !important;
}

.form_padding input,
.form_padding textarea,
.form_padding select {
  margin-bottom: 1rem;
}

.form_padding h6,
.form_padding label {
  margin-bottom: 0.15rem;
  color: rgb(17, 0, 66);
}

.new_font {
  font-family: "Itim", cursive;
}
